body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  
  /* header */
  
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .header-logo-span {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
  }
  
  .header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .header-nav:hover,
  .header-nav:focus {
    color: #404bbf;
  }
  .header-contacts {
    font-style: normal;
  }
  .header-studio-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .header-studio-contacts:hover,
  .header-studio-contacts:focus {
    color: #404bbf;
  }
  
  /* main */
  
  .main-section {
    background: #2e2f42;
  }
  .main-logo {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
  }
  
  /* features */
  
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .features-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* what are we doing */

  .we-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  /* team */

  .team-section {
    background-color: #f4f4fd;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .team-section-list {
    background-color: #ffffff;
  }
  .team-person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .team-job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /*portfolio*/

  .portfolio-select_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color:#4D5AE5;
  }

  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .portfolio-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* Footer */

  .footer-logo {
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
  }
  .footer-section {
    background: #2e2f42;
  }
  .footer-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }